<% provide(:page_title, @post.title) %>
<% provide(:blog_active, 'active') %>

	<h2 class="text-center"><%= @post.title %></h2>
	<h5 class="text-center"><%= @post.created_at.strftime('%b %d, %Y') %></h5>
	<div><%= @post.body.html_safe  %></div>
	<br/>
	<div class="text-left">
			<% if @post.admin.avatar.url.present? %>
				<%= image_tag(current_admin.avatar.url)  %>
			<% end %>
      <%= "Author: #{@post.admin.username}" %>
    </div>
  <hr/>